<%= month_calendar do |date| %>
  <%= date.day %><br/>
  <div class="reservations list">
    <% reservations_to_date(date).each do |reservation| %>
      <div class="reservation entry" title="<%=reservation.project_user.user.name %> - <%=reservation.project_user.project.name %>">
        <%=reservation.project_user.user.name %>
      </div>
    <% end %>
  </div>
  <div class="projects list">
    <% projects_to_date(date).each do |project| %>
      <div class="project entry">
        <%=project.name %>
      </div>
    <% end %>
  </div>
  <div class="holidays list">
    <% holidays_to_date(date).each do |holiday| %>
      <div class="holiday entry">
        <%=holiday.user.name %>
      </div>
    <% end %>
  </div>
<% end %>